/* a minimalist set of CSS resets */
html, body {
    height: 100%;
    margin: 0;
  }
  
  h1 {
  /*   position: relative; */
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 4vw;
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    text-decoration: none;
    color: black;
  /*   display: inline-block; */
    background-size: 120% 100%;
    background-clip: text;
    /* text-fill-color: transparent; */
    background-color: #47ff3a;
    animation: 0.2s shake infinite alternate;
  }
  
  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  }
  
  body {
  /*   display: flex; */
  /*   justify-content: center;
    align-items: center; */
    font-family: 'monoton';
    background: #000;
  }
  
  /* default to border-box */
  html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* adjust typography defaults */
  body {
    margin: 1rem;
    font-family: sans-serif;
    line-height: 1.5;
  }
  
  /* images and videos max out at full width */
  img,
  video {
    height: auto;
    max-width: 100%;
  }
  
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  /*   animation: 0.2s shake infinite alternate;
  }
  
  @keyframes shake {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); }  
  } */
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  /* Alternating Table Colors*/
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  tr:nth-child(odd) {
    background-color: #6e6e6e;
  }  